/Lib
/Scripts
pyvenv.cfg
/__pycache__
/.idea
28-1_aibekromankulov_hw_2-1.py
28-1_aibekromankulov_hw_2.py
28-1_aibekromankulov_hw_3.py
aibek_28-1_hw1.py
aibek_28-1_hw2.py
aibek_28-1_hw3.py
aibek_28-1_hw5.py
aibek_28-1_hw6.py
aibek_28-1_hw7.py
aibek_28-1_hw8.py
lesson_1_1original.py
practice.py
test.py
results.txt
python13032023.py
lesson8_2.py
lesson_1_1.py
lesson_2_1.py
lesson_3_1.py
lesson_3_16-03.py
lesson_5.py
lesson_5_1.py
lesson_6_2.py
lesson_7_1.py
lesson_8_1.py
lesson_22.py
hw16032023.py
file.txt
file1.txt